<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>846255351278-9tp8i2tj1huqpqui9khi1j1k7gpbq6a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846255351278-9tp8i2tj1huqpqui9khi1j1k7gpbq6a3</string>
	<key>API_KEY</key>
	<string>AIzaSyBF8M7XVQsxW4JhZHyrgYOesuc4JinPfjs</string>
	<key>GCM_SENDER_ID</key>
	<string>846255351278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.mwsoft.Chatster</string>
	<key>PROJECT_ID</key>
	<string>chatster-58f6f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatster-58f6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846255351278:ios:28f89b1a607a4ae9</string>
	<key>DATABASE_URL</key>
	<string>https://chatster-58f6f.firebaseio.com</string>
</dict>
</plist>